.video-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.video-item {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  background: #7e59bd;
  color: #fff;
}

.status-indicator {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

video {
  background: #000;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.video-container {
  margin: 20px;
  padding: 10px;
  background: #111;
  border-radius: 8px;
  color: #bd9bf6;

  .video {
    background: #000;
    border-radius: 4px;
    margin-top: 10px;
  }
}